body {
  margin: 0 0 0 0;
  font-family: sans-serif;
  background: #fffad1;
  color: #211c00;
  /*background: url("chevron.png") repeat;*/
}
div#text-container {
  padding-left: 5%
}
a[href] {
  color: black;
  background: #ffd608;
  text-decoration: none;
}
a[href]:hover {
  background: #c2a200;
}
a[href]:focus {
  background: #c2a200;
}
body h1 {
  margin: 70px 0 0 0;
}
body h2 {
  font-size: 1.4em;
  margin: 35px 0 0 0;
}
body h3 {
  margin: 35px 0 0 0;
}
body p {
  line-height: 1.4em;
}
div#text {
  padding-right: 5%;
}
@media (min-width: 800px) {
  div#everything {
    overflow: hidden;
    display: flex;
    max-height: 100vh;
    width: 100%;
  }
  div#text-container {
    overflow-y: scroll;
    flex-grow: 1;
  }
  div#text {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
  }
  nav#TOC {
    overflow-y: scroll;
    order: 2;
    background: #211c00;
  }
  nav#TOC code {
    background: inherit;
  }
  nav#TOC ul {
    padding-left: 2em;
    padding-right: 1em;
  }
  nav#TOC ul li {
    list-style-type: none;
    padding: 5px 0 0 0;
  }
  nav#TOC ul li a {
    color: #ffd608;
    background: none;
    display: inline !important;
  }
  nav#TOC ul li a:hover {
    color: #a18600;
  }
  nav#TOC ul li a:focus {
    color: #a18600;
  }
  nav#TOC ul li ul {
    margin: 0 0 20px 0;
    font-weight: 400 !important;
  }
  nav#TOC ul li ul:first-child {
    font-weight: bold;
  }
}
p {
  max-width: 60rem;
}
ul {
  padding-left: 3em;
  max-width: 60rem;
}
ul li {
  padding: 5px 0 0 0;
}
ol {
  padding-left: 3em;
}
ol.quiz {
  /*margin-left: min(5vw, 6rem);*/
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  list-style-type: lower-alpha;
}
ol.quiz li:hover {
  background: #ffd608;
  cursor: pointer;
}
ol.quiz li:hover code {
  background: inherit;
}
ol.quiz li:active {
  background: salmon;
}
ol.quiz li:active::after {
  background: salmon;
  content: "✘";
}
ol.quiz li.correct:active {
  background: yellowgreen;
}
ol.quiz li.correct:active::after {
  background: yellowgreen;
  content: "✔";
}
pre {
  border-radius: 5px;
  max-width: 60rem;
  padding: 25px;
  background: #fff5b6;
  margin-bottom: 25px;
  overflow: auto !important; /* need to override style by pandoc... */
}
code.sourceCode {
  position: static !important; /* override weird pandoc style that breaks on safari */
}
code {
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono, Bitstream Vera Sans Mono, monospace;
  white-space: pre; /* make non-syntax-colored code blocks behave like colored ones */
}
p code, table code, li code {
  background: #fff5b6;
}
table, img {
  max-width: 80%;
  padding: 0.5em 0.5em 0.5em 0.5em;
}
table {
  border-spacing: 1em 0em;
}
